@model LoginViewModel

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-group", role = "form", id = "loginFormPartial" }))
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control mt-2", placeholder = "Correo Electrónico", ariaDescribedby = "userNameErrorBlock" })
    <small id="userNameErrorBlock" class="form-text text-muted text-left">
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </small>
    @Html.PasswordFor(m => m.Password, new { @class = "form-control mt-2", placeholder = "Contraseña", ariaDescribedby = "passwordErrorBlock" })
    <small id="passwordErrorBlock" class="form-text text-muted text-left">
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </small>
    <div class="custom-control custom-checkbox text-left mt-2">
        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
        @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
    </div>

    <input onclick="javascript:document.getElementById('loginFormPartial').submit()" class="btn btn-primary mr-2 mt-4" value="Entrar">
    @Html.ActionLink("¿Olvidó su Contraseña", "ForgotPassword", null, new { @class = "btn btn-link" })
}
@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
