@model RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", id = "registerFormPartial" }))
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.RegisterEmail, new { @class = "form-control mt-2", placeholder = "Correo Electrónico", ariaDescribedby = "emailErrorBlock" })
    <small id="emailErrorBlock" class="form-text text-danger">
        @Html.ValidationMessageFor(m => m.RegisterEmail, "")
    </small>
    @Html.PasswordFor(m => m.RegisterPassword, new { @class = "form-control mt-2", placeholder = "Contraseña", ariaDescribedby = "passwordErrorBlock" })
    <small id="passwordErrorBlock" class="form-text text-danger">
        @Html.ValidationMessageFor(m => m.RegisterPassword, "")
    </small>
    @Html.PasswordFor(m => m.RegisterConfirmPassword, new { @class = "form-control mt-2", placeholder = "Confirmar Contraseña", ariaDescribedby = "confirmPasswordErrorBlock" })
    <small id="confirmPasswordErrorBlock" class="form-text text-danger">
        @Html.ValidationMessageFor(m => m.RegisterConfirmPassword, "")
    </small>
    <input id="google-maps" class="form-control mt-2"
           placeholder="Inserte su dirección">
    <div class="google-maps-container img-fluid img-thumbnail mt-2 w-100 "
         style="height: 106px">
        <!-- Este es el contenedor del mapa de Google (API) -->
        <div class="w-100 h-100"
             style="background-image: url('@Url.Content("~/Content/app/img/mapa.jpg")')"></div>
    </div>
    <div class="custom-control custom-checkbox text-left mt-2">
        @Html.RadioButtonFor(m => m.AcceptConditions, false, new { @class = "custom-control-input", ariaDescribedby = "conditionsErrorBlock" })
        <label class="custom-control-label" for="AcceptConditions">
            Acepto las <a href="#">Condiciones de Uso</a>
        </label>
        <small id="conditionsErrorBlock" class="form-text text-danger">
            @Html.ValidationMessageFor(m => m.AcceptConditions, "")
        </small>
    </div>
    <input onclick="javascript: document.getElementById('registerFormPartial').submit()" class="btn btn-primary mr-2 mt-2" value="Registrarse">
}
