@model RegisterViewModel
@{
    ViewBag.Title = "Registro";
}


@section slide
{
    <div class="jumbotron jumbotron-fluid mb-0 d-flex">
        <div class="container align-self-center">
            <div class="row justify-content-center ">
                <div class="col-11 col-md-6 col-lg-4 align-self-center">
                    <div class="logo text-white text-center"><h3>LOGO</h3></div>
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>@ViewBag.Title</h6>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.LabelFor(m => m.UserName)
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Usuario", ariaDescribedby = "userNameErrorBlock" })
                                <small id="userNameErrorBlock" class="form-text text-danger">
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </small>
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Correo", ariaDescribedby = "emailErrorBlock" })
                                <small id="emailErrorBlock" class="form-text text-danger">
                                    @Html.ValidationMessageFor(m => m.Email, "")
                                </small>
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Contraseña", ariaDescribedby = "passwordErrorBlock" })
                                <small id="passwordErrorBlock" class="form-text text-danger">
                                    @Html.ValidationMessageFor(m => m.Password, "")
                                </small>
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmar Contraseña", ariaDescribedby = "confirmPasswordErrorBlock" })
                                <small id="confirmPasswordErrorBlock" class="form-text text-danger">
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                                </small>
                                <div class="form-check">
                                    @Html.RadioButtonFor(m => m.AcceptConditions, false, new { @class = "form-check-input", ariaDescribedby = "conditionsErrorBlock" })
                                    <label class="form-check-label" for="AcceptConditions">
                                        Acepto las <a href="#">Condiciones de uso</a>
                                    </label>
                                    <small id="conditionsErrorBlock" class="form-text text-danger">
                                        @Html.ValidationMessageFor(m => m.AcceptConditions, "")
                                    </small>
                                </div>
                                <div class="justify-content-end d-flex">
                                    <input class="btn btn-primary mt-3 pl-4 pr-4" type="submit" value="Registrar" />
                                </div>
                            }
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-link " style="text-decoration: none; color: inherit" href="@Url.Action("Index", "Home")">
                                <i class="fa fa-chevron-left mr-2"></i>Regresar a la p&aacute;gina principal
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
